<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mdw.moneyconfig"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar"
        android:hardwareAccelerated="true"
        android:name=".utils.MyApplication">
        <activity
            android:name=".utils.SplashScreen"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.mdw.moneyconfig.MainActivity"
            android:theme="@android:style/Theme.Holo.Light"
            android:uiOptions="splitActionBarWhenNarrow"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name=".fund.FundAddActivity"
            android:theme="@android:style/Theme.Holo.Light"
            android:uiOptions="splitActionBarWhenNarrow"
            android:configChanges="orientation|screenSize"/>
        <activity
            android:name=".fund.FundInfoActivity"
            android:theme="@android:style/Theme.Holo.Light"
            android:uiOptions="splitActionBarWhenNarrow"
            android:configChanges="orientation|screenSize"/>
        <activity
            android:name=".fund.FundRedeemActivity"
            android:theme="@android:style/Theme.Holo.Light"
            android:uiOptions="splitActionBarWhenNarrow"
            android:configChanges="orientation|screenSize"/>
        <activity
            android:name=".fund.FundBonusActivity"
            android:theme="@android:style/Theme.Holo.Light"
            android:uiOptions="splitActionBarWhenNarrow"
            android:configChanges="orientation|screenSize"/>
        <activity
            android:name=".fund.FundFastAddActivity"
            android:theme="@android:style/Theme.Holo.Light"
            android:uiOptions="splitActionBarWhenNarrow"
            android:configChanges="orientation|screenSize"/>
    </application>

</manifest>
